<div class="navbar" style="display: flex; flex-direction: row; justify-content: space-between">
    <div class="navbar-left">
        {{#> navbar-left}}{{/navbar-left}}
    </div>
    <div class="navbar-right">
        {{#> navbar-right}}{{/navbar-right}}
    </div>
</div>