{{#> layouts/example4}}
    {{#*inline "header"}}
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    {{/inline}}

    {{#*inline "body"}}
        <h1>Zawartość strony Example 4b</h1>
        <a href="/">Wróc na stronę główną</a>
    {{/inline}}
{{/layouts/example4}}