{{#> partials/navbar}}
    {{#*inline "navbar-left"}}
        <a href="/">Home</a>
        <a href="/about">About</a>
    {{/inline}}
    {{#*inline "navbar-right"}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/inline}}
{{/partials/navbar}}
